<section>
  <div class="container margin-top-container" *ngIf="teamMember">
    <h2 class="section-title">
      {{ teamMember.name }}
    </h2>
    <div class="row">
      <div class="col-md-6 fade-in-up">
        <div class="team-member-image">
          <img [src]="teamMember.imageUrl" alt="team-member-image" />
          <div class="team-member-toast">{{ teamMember.designation }}</div>
        </div>
      </div>
      <div class="col-md-6 fade-in-up">
        <div class="team-member-content">
          <p
            class="team-member-paragraph"
            *ngFor="let para of teamMember.description"
          >
            {{ para }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
