<section>
  <div class="container-background-image"></div>

  <div class="container">
    <div class="section-heading">
      <h2 class="section-title">
        Our Clients
        <span class="span-text-color">Reviews</span>
      </h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="client-reviews-card shadow">
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <div class="client-reviews-author">
            <h6>Roman Regins</h6>
            <p class="client-reviews-content">
              Tribal Cheif To Relavent Island
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="client-reviews-card shadow">
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <div class="client-reviews-author">
            <h6>Roman Regins</h6>
            <p class="client-reviews-content">
              Tribal Cheif To Relavent Island
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="client-reviews-card shadow">
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <p class="client-reviews-content">
            <q>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              optio saepe illo totam ea molestiae reprehenderit consequuntur,
              porro sint magnam consectetur iste sed debitis nam dolor id
              tenetur ab itaque!
            </q>
          </p>
          <div class="client-reviews-author">
            <h6>Roman Regins</h6>
            <p class="client-reviews-content">
              Tribal Cheif To Relavent Island
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
