<section>
  <div class="section-heading">
    <h2 class="section-title">
      Our
      <span class="span-text-color">Projects</span>
    </h2>
  </div>

  <div class="project-container">
    <div class="project-wrapper">
      <div class="project-image">
        <img
          src="https://w0.peakpx.com/wallpaper/453/731/HD-wallpaper-premium-international-group-of-happy-young-students.jpg"
          alt="group-image"
        />

        <div class="project-content">
            <h5>some project name</h5>
            <div class="line"></div>
            <div class="redirecting-arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
      </div>

      <div class="project-image">
        <img
          src="https://w0.peakpx.com/wallpaper/453/731/HD-wallpaper-premium-international-group-of-happy-young-students.jpg"
          alt="group-image"
        />

        <div class="project-content">
            <h5>some project name</h5>
            <div class="line"></div>
            <div class="redirecting-arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
