<section>
  <div class="section-heading">
    <h2 class="section-title">
      Our
      <span class="span-text-color">Projects</span>
    </h2>
  </div>

  <div class="project-container">
    <div class="project-wrapper">
      <div
        class="project-slides"
        *ngFor="let slide of slides; let i = index"
        [ngClass]="{ active: slide.active }"
      >
        <div class="project-slide">
          <div
            class="project-image"
            *ngFor="let project of slide.pair"
            (mouseenter)="stopSlideInterval()"
            (mouseleave)="startSlideInterval()"
          >
            <img [src]="project.imageUrl" [alt]="project.title" />
            <div class="project-content">
              <h5>{{ project.title }}</h5>
              <div class="line"></div>
              <div class="redirecting-arrow">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-carousel-dots">
      <span
        *ngFor="let slide of slides; let i = index"
        class="project-carousel-dot"
        [ngClass]="{ active: slide.active }"
        (click)="selectSlide(i)"
      ></span>
    </div>
  </div>
</section>
