<section>
  <div class="section-heading">
    <h2 class="section-title">
      About
      <span class="span-text-color">Company</span>
    </h2>
  </div>

  <div class="about-container">
    <div class="about-content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
    </div>
    <div class="about-image">
      <img
        src="https://w0.peakpx.com/wallpaper/453/731/HD-wallpaper-premium-international-group-of-happy-young-students.jpg"
        alt="group-image"
      />
      <div class="about-image-toast">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-heading">
    <h2 class="section-title">
      Our
      <span class="span-text-color">Services</span>
    </h2>
  </div>

  <div class="section-container">
    <div class="section-card">
      <a href="#">
        <div>Logo</div>
        <h5>Urban Design</h5>
        <div class="line"></div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">01</div>
      </a>
    </div>
    <div class="section-card">
      <a href="#">
        <div>Logo</div>
        <h5>Architecture</h5>
        <div class="line"></div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">02</div>
      </a>
    </div>
    <div class="section-card">
      <a href="#">
        <div>Logo</div>
        <h5>Interior</h5>
        <div class="line"></div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">03</div>
      </a>
    </div>
  </div>
</section>
