<section>
  <div class="section-heading">
    <h2 class="section-title">
      About
      <span class="span-text-color">Company</span>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-6 about-content my-2">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
    </div>
    <div class="col-md-6 about-image my-2">
      <img
        src="https://w0.peakpx.com/wallpaper/453/731/HD-wallpaper-premium-international-group-of-happy-young-students.jpg"
        alt="group-image"
      />
      <div class="about-image-toast">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-heading">
    <h2 class="section-title">
      Our
      <span class="span-text-color">Services</span>
    </h2>
  </div>

  <div class="row section-container">
    <div class="col-md-4 section-card">
      <a href="#" class="service-card-link">
        <div class="service-card-icon">
          <i class="fas fa-industry"></i>
        </div>
        <h5 class="service-card-title">Urban Design</h5>
        <div class="line"></div>
        <div class="service-card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">01</div>
      </a>
    </div>
    <div class="col-md-4 section-card">
      <a href="#" class="service-card-link">
        <div class="service-card-icon">
          <i class="fas fa-building"></i>
        </div>
        <h5 class="service-card-title">Architecture</h5>
        <div class="line"></div>
        <div class="service-card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">02</div>
      </a>
    </div>
    <div class="col-md-4 section-card">
      <a href="#" class="service-card-link">
        <div class="service-card-icon">
          <i class="fas fa-archway"></i>
        </div>
        <h5 class="service-card-title">Interior</h5>
        <div class="line"></div>
        <div class="service-card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          quibusdam. Aperiam sapiente quod illum ipsum minus architecto
          dignissimos repellendus laboriosam magnam aut consequuntur quis
          dolorum ea praesentium, aspernatur nemo eos.
        </div>
        <div class="right-side-number">03</div>
      </a>
    </div>
  </div>
</section>
