/* our services styling */

/* .section-container {
  display: flex;
} */

.section-card {
  padding: 40px 30px;
  margin-bottom: 30px;
  position: relative;
  /* width: 33.33%; */
}

.section-card:hover {
  background-color: rgba(247, 240, 240, 0.1);
}

.section-card .line {
  width: 100%;
  display: inline-block;
  position: relative;
}

.section-card .line:after {
  content: "";
  background: var(--special-color);
  width: 50px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: all 1s ease-in-out;
}

.section-card:hover .line:after {
  width: 100%;
}

/* .section-card img {
  width: 60px;
  margin-bottom: 20px;
} */

span,
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.service-card-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-card-icon {
  font-size: 50px;
  color: var(--text-color-secondary);
}

.service-card-title {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color-primary);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.service-card-para {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color-secondary);
}

.right-side-number {
  font-size: 40px;
  font-weight: 600;
  /* position: absolute;
  bottom: 20px;
  right: 25px; */
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color-secondary);
  line-height: 1em;
  text-align: right;
}

.section-card:hover .right-side-number {
  -webkit-text-stroke: 1px var(--special-color);
}

.section-card:hover .service-card-icon {
  color: var(--special-color);
}
