<div *ngIf="project">
  <div
    class="container-background-image"
    [style.backgroundImage]="'url(' + project.imageUrl + ')'"
  ></div>

  <section>
    <div class="container">
      <h2 class="project-name">{{ project.name }}</h2>
      <div class="row">
        <div class="col-md-8">
          <p
            class="project-description"
            *ngFor="let description of project.description"
          >
            {{ description }}
          </p>
        </div>
        <div class="col-md-4">
          <div class="project-properties">
            <span>Principal Architect : </span>
            <span>vikask</span>
          </div>
          <div class="project-properties">
            <span>Associate Architect : </span>
            <span>vikask</span>
          </div>
          <div class="project-properties">
            <span>Year : </span>
            <span>2023</span>
          </div>
          <div class="project-properties">
            <span>Company: </span>
            <span>vikaskh & Co.</span>
          </div>

          <div class="video-box" (click)="toggleModal()">
            <div class="video-icon">
              <i class="fas fa-play"></i>
            </div>
            <div class="video-text">View Video - {{ project.name }}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" *ngFor="let picture of project.imageGallery">
          <div class="gallery-box">
            <img class="image-gallery" [src]="picture" alt="image-gallery" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 portfolio-arrows">
          <span (click)="goToPreviousProject()" *ngIf="project.id !== 1"
            ><i class="fas fa-arrow-left"></i> Previous Project</span
          >
          <span (click)="goToPortfolioPage()">Back To Portfolio</span>
          <span (click)="goToNextProject()" *ngIf="project.id !== totalProjects"
            >Next Project <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="showModal">
  <div class="video-modal-overlay" (click)="closeModal()"></div>
  <div class="video-modal">
    <i class="fas fa-times video-close-button" (click)="closeModal()"></i>
    <iframe
      src="https://youtube.com/embed/NcF21EhtAWE"
      title="Complete Guide to UI Animation and Tools in UNDER 10 minutes!"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
