/* stickey header styling */

header {
  background: var(--background-color);
  color: var(--text-color-primary);
  padding: 10px 0;
  position: fixed;
  top: -150px;
  width: 100%;
  height: 120px;
  z-index: 10;
  transition: top 0.3s;
  display: flex;
  align-items: center;
  box-shadow: var(--bs-primary);
}

header.sticky {
  top: 0;
}

/* menu icon styling */

.burger-wrap {
  position: relative;
  z-index: 1022;
}

.burger-wrap .menu-icon {
  color: rgba(256, 256, 256, 0.9);
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 11%;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-panel {
  width: 300px;
  background: var(--background-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: right 0.3s ease;
  border-left: 1px solid rgba(256, 256, 256, 0.1);
  box-shadow: var(--bs-secondary);
  z-index: 1000;
}

.nav-bar-list {
  position: relative;
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 0;
  padding: 20px 30px;
}

.nav-bar-items {
  margin: 10px 0 10px 0;
  padding: 0 0 10px 10px;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.nav-bar ul li,
.nav-bar ul li a {
  display: block;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.nav-bar-items a {
  color: var(--text-color-secondary);
  position: relative;
  padding: 0;
  font-weight: 300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.nav-bar > .nav-bar-list > .nav-bar-items > a:hover,
.nav-bar > .nav-bar-list > .nav-bar-items > a.active {
  color: var(--special-color);
}

/* parallel image styling */
.parallel-image-container {
  width: 100%;
}

.image-wrapper {
  width: 100%;
  height: 800px;
  background: url("https://wallpapercave.com/wp/wp2752757.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.video-wrapper {
  position: absolute;
  top: 80px;
  left: 6%;
  display: flex;
  justify-content: space-between;
}

.video-box {
  width: 100px;
  text-align: center;
}

.video-icon {
  background: var(--special-color);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-icon i {
  font-size: 25px;
  color: var(--text-color-primary);
  border: 1px solid transparent;
}

.video-text {
  font-size: 15px;
  color: var(--text-color-primary);
  text-transform: uppercase;
}

.client-reviews-wrapper {
  background: var(--background-color);
  padding: 50px 35px;
  width: 450px;
  height: 670px;
  /* position: absolute;
  top: 80px;
  right: 150px; */
  z-index: 1;
  overflow: hidden;
}

.client-heading {
  color: var(--text-color-primary);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--text-color-secondary);
  margin-bottom: 20px;
}

.client-quote {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.client-reviewer {
  color: var(--special-color);
  text-align: right;
}

.view-more-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client-wrapper {
  background: var(--background-color-2);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

.client-images-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 6%;
  overflow: hidden;
}

.client-wrapper .client-images-wrapper i {
  font-size: var(--header-font);
  color: var(--special-color);
}

.client-wrapper .client-images-wrapper i:hover {
  color: inherit;
}

/* footer styling */

.sub-footer {
  padding: 30px 0 10px 0;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

h6 {
  font-weight: 400;
  position: relative;
  padding-bottom: 5px;
  font-size: 16px;
  margin-bottom: 0px;
  color: var(--special-color);
}

.sub-footer p a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.social-icon {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  border: 1px solid var(--special-color);
  color: var(--text-color-secondary);
  border-radius: 100%;
  margin-right: 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.social-icon a:hover {
  background-color: var(--special-color);
  color: var(--background-color-2);
}

/* scroll to top  */

.progress-container {
  background-color: var(--special-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 55px;
  width: 55px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
}

.scroll-btn-icon {
  background-color: var(--background-color);
  color: var(--special-color);
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  border-radius: 100%;
  font-size: 20px;
  display: grid;
  place-items: center;
}

/* media queries */

@media screen and (max-width: 650px) {
  .image-wrapper {
    height: 1150px;
  }

  .video-wrapper {
    top: 5%;
    left: 1%;
    flex-direction: column;
  }

  .client-reviews-wrapper {
    max-width: fit-content;
    height: fit-content;
  }
}
