<section>
  <div class="section-heading">
    <h2 class="section-title">
      About
      <span class="span-text-color">Company</span>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-6 about-content fade-in-up" appDirScrollAnimation>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe minus
        modi dolores repellat, cum laborum sit vero ut commodi, labore alias,
        obcaecati assumenda doloremque? Nulla odio fuga beatae tenetur est?
      </p>
    </div>
    <div class="col-md-6 about-image fade-in-up" appDirScrollAnimation>
      <img
        src="https://w0.peakpx.com/wallpaper/453/731/HD-wallpaper-premium-international-group-of-happy-young-students.jpg"
        alt="group-image"
      />
      <div class="about-image-toast">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
