.our-blogs-container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 150px;
}

.our-blogs-wrapper {
  transition: transform 0.5s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.our-blogs-image {
  width: 525px;
  height: fit-content;
  position: relative;
}

.our-blogs-image img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.our-blogs-image:hover img {
  transition: all 1s ease;
  transform: scale(1.05, 1.05);
  filter: brightness(70%);
}

.our-blogs-content {
  width: 95%;
  height: 100px;
  background: var(--background-color-2);
  color: var(--text-color-primary);
  position: absolute;
  bottom: -55px;
  left: 12px;
  padding: 0 30px;
  border: 1px solid var(--background-color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-blogs-image:hover .our-blogs-content {
  position: absolute;
  bottom: 10px;
  transition: all 1s ease;
}
