<section>
  <div class="container-background-image"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-zi-shared-about></app-zi-shared-about>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
          corrupti unde accusantium sequi aspernatur! Omnis exercitationem qui
          non, labore, nam dolores repudiandae odio praesentium eos soluta
          expedita, reiciendis est error.Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Veritatis corrupti unde accusantium sequi
          aspernatur! Omnis exercitationem qui non, labore, nam dolores
          repudiandae odio praesentium eos soluta expedita, reiciendis est
          error.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="principle-image">
          <img
            src="https://wallpapercave.com/wp/wp9683114.jpg"
            alt="principle-image"
          />
          <div class="principle-toast">Vikash Vikash</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="principle-content">
          <div class="section-heading">
            <h2 class="section-title">
              Principle
              <span class="span-text-color">Architect</span>
            </h2>
          </div>
          <p class="principle-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a cum
            ullam quos nemo quas omnis eius maiores accusamus, unde veritatis
            possimus dolores voluptatem qui, quaerat quibusdam totam eum optio.
          </p>
          <p class="principle-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            incidunt minima temporibus minus quam, eaque blanditiis sed ab nihil
            earum voluptatem quaerat hic! Ullam possimus ipsam accusantium qui
            harum nihil.
          </p>
          <p class="principle-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            deleniti nesciunt ipsam consequuntur error necessitatibus,
            consequatur debitis ratione eveniet saepe quas repellendus numquam
            voluptate voluptatum beatae cum tempora cupiditate? Et!
          </p>
          <p class="principle-paragraph">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla,
            molestiae hic quo consequatur qui quia veritatis facilis, eum fuga
            voluptate porro quos adipisci. Eveniet in facilis delectus
            voluptatibus ipsam inventore.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="section-heading">
          <h2 class="section-title">
            Our
            <span class="span-text-color">Team</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="teammate-card">
          <div class="teammate-image">
            <img
              src="https://wallpapercave.com/wp/wp6621241.jpg"
              alt="teammate-image"
            />
          </div>
          <div class="teammate-name">
            <h6>Vikash</h6>
          </div>
          <div class="teammate-designation">associate</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="teammate-card">
          <div class="teammate-image">
            <img
              src="https://wallpapercave.com/wp/wp6621241.jpg"
              alt="teammate-image"
            />
          </div>
          <div class="teammate-name">
            <h6>Vikash</h6>
          </div>
          <div class="teammate-designation">associate</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="teammate-card">
          <div class="teammate-image">
            <img
              src="https://wallpapercave.com/wp/wp6621241.jpg"
              alt="teammate-image"
            />
          </div>
          <div class="teammate-name">
            <h6>Vikash</h6>
          </div>
          <div class="teammate-designation">associate</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="teammate-card">
          <div class="teammate-image">
            <img
              src="https://wallpapercave.com/wp/wp6621241.jpg"
              alt="teammate-image"
            />
          </div>
          <div class="teammate-name">
            <h6>Vikash</h6>
          </div>
          <div class="teammate-designation">associate</div>
        </div>
      </div>
    </div>
  </div>
</section>
