/* You can add global styles to this file, and also import other style files */
@import url(assets/global-variables.css);

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: var(--text-color-secondary);
  background: var(--background-color);
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-color-primary);
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  word-spacing: -2px;
  margin-bottom: 30px;
}

.section-title .span-text-color {
  color: var(--special-color);
}
